<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blog_app_new"
        android:usesCleartextTraffic="true"
        tools:targetApi="29">
        <activity
            android:name=".ProfileActivity"
            android:label="Twój profil"
            android:exported="false" />
        <activity
            android:name=".PostDetailActivity"
            android:label="Szczegóły posta"
            android:exported="false" />
        <activity
            android:name=".AllGroupsActivity"
            android:label="Wszystkie grupy"
            android:exported="false" />
        <activity
            android:name=".GroupDetailActivity"
            android:label="Szczegóły grupy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="Twoje grupy"
            android:exported="true"
            android:theme="@style/Theme.Blog_app_new.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Ania gotuje - Zaloguj się"
            android:exported="true">
        </activity> <!-- Register Activity -->
        <activity android:name=".RegisterActivity"
            android:label="Ania gotuje - Zarejestruj się"

            />
        <activity android:name=".AddPostActivity"
            android:label="Tworzenie posta"

            />
    </application>

</manifest>